  <div class="modal-header">
    <h4>Bitte das Datum der neuen Veranstaltung angeben</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="anlegenForm" >
      <div class="mb-3">
        <label for="dateOfBirth">Datum</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp"
          ngbDatepicker #dp="ngbDatepicker"
          formControlName="event_date"
          >
          <!-- [(ngModel)]="anlegenForm.event_date" -->
          <!-- <button class="btn btn-secondary calendar" (click)="dp.toggle()" type="button">Auswahl</button> -->
          <button class="ngbtn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
        </div>
      </div>
      <label for="dateOfBirth" class="pb-0">Uhrzeit</label>
      <ngb-timepicker formControlName="event_time"></ngb-timepicker>

      <!-- <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <input type="text"
                 placeholder="Datepicker"
                 class="form-control"
                 [bsConfig]="{withTimepicker: true, rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}"
                 bsDatepicker>
        </div>
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <input type="text"
                 placeholder="Daterangepicker"
                 class="form-control"
                 [bsConfig]="{withTimepicker: true, rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}"
                 bsDaterangepicker>
            <ngb-timepicker [(ngModel)]="mytime"></ngb-timepicker>
        </div>
      </div> -->

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark mr-auto" (click)="cancel_click()">{{modalText.cancelBtn}}</button>
    <button type="button" ngbAutofocus class="btn btn-info btn-fill" (click)="ok_click()" [disabled]="!anlegenForm.valid" > {{modalText.okBtn}}</button>
  </div>
