  <div class="modal-header">
    <h4>Bitte das Datum der neuen Veranstaltung angeben</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="anlegenForm" >
      <div class="mb-3">
        <label for="dateOfBirth">Datum</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp"
          ngbDatepicker #dp="ngbDatepicker" [(ngModel)]="anlegenForm.versammlungsdatum"
          formControlName="versammlungsdatum"
          >
          <!-- <button class="btn btn-secondary calendar" (click)="dp.toggle()" type="button">Auswahl</button> -->
          <button class="ngbtn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark mr-auto" (click)="cancel_click()">{{modalText.cancelBtn}}</button>
    <button type="button" ngbAutofocus class="btn btn-info btn-fill" (click)="ok_click()" [disabled]="!anlegenForm.valid" > {{modalText.okBtn}}</button>
  </div>
