
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <!-- Veranstaltungen -->
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="title">Veranstaltungen </h4>
          <p class="category">Eine Übersicht der Schulungs-Termine</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th *ngFor="let cell of tableEvents.headerRow">{{ cell }}</th>
              </thead>
              <tbody>
                <tr *ngFor="let row of tableEvents.dataRows | async">
                    <td>{{row.event_id}}</td>
                    <td>{{row.date}}</td>
                    <td>{{row.training_name}}</td>
                    <td>{{row.maxAttendees}}</td>
                    <td>{{row.free_bookings}}</td>
                    <td><button type="button" (click)="book_event(row.event_id)" class="btn btn-info btn-fill pull-left">Buchen</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




